.nav-item {
    display: inline-flex;
    list-style: none;
    padding: 10px;
}
.nav-item:active{
    background-color: red;
}
.nav-item:hover{
    background-color: lightgreen;
}

input {
    text-align: center;
}

.cardImg{
    height: 100px;
    width: 100%;
}

.returnButtonLoaned {
    width: 100%;
    background-color: #8BA66A;
    color: white;
    font-size: 1.4em !important;
}

.returnButtonBorrowed {
    width: 100%;
    background-color: #E2B6E4;
    color: white;
    font-size: 1.4em !important;
}

.cardTitle {
    height: 40px;
}

.padding-zero {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 0px !important;
}

.items-container {
    margin-top: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.panel{
    margin-bottom: 10px !important;
}

.borrowed{
    border: solid 2px #E2B6E4;
}

.loaned{
    border: solid 2px #8BA66A;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border: solid 1px #8BA66A !important;
    border-bottom: solid white !important;
}

.nav-tabs {
    border-bottom: 1px solid #8BA66A !important;
}

.addItemContainer {
    background-image: url('../../../components/IMAGES/addItemArrow.png');
    background-repeat: no-repeat;
    width: 510px;
    height: 480px;
    margin: auto;
    margin-top: 30px
}

.addItemContainer:hover {
    background-image: url('../../../components/IMAGES/addItemHoveredArrow.png');
    background-repeat: no-repeat;
    width: 510px;
    height: 480px;
    margin: auto;
    margin-top: 30px
}

.addItemContainer:active {
    background-image: url('../../../components/IMAGES/addItemPressedArrow.png');
    background-repeat: no-repeat;
    width: 510px;
    height: 480px;
    margin: auto;
    margin-top: 30px
}

.newItemForm {
    display: inline-grid;
    width: 70% !important;
    height: 70% !important;
    margin-left: -15% !important;
    margin-top: 11% !important;
}

.addItemButton {
    background-color: transparent !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    font-weight: 600;
    width: 40px;
    display: block;
    /* margin-left: 191px; */
    position: absolute;
    line-height: 1.2em;
    outline: none;
    top: 410px;
    font-size: 1.3em;
    right: 268px;
}