.vertical-align-welcome {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding-top: 10px;
  }

  .logo {
    display: flex;
    height: 30px !important;
    margin-right: 15px;
    margin-top: 10px;
  }

  li {
    font-size: 1.5em;
  }

  a {
      color: black !important;
  }

  .nav-tabs > li.active > a{
      color: #5fd0b6 !important;
  }

  .navbarHeight {
      padding-top: 20px;
      padding-bottom: 20px;
  }