/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC'); */


.loginView {
    float: right;
    margin-right: 10%;
    margin-top: 4%;
    display: inline-grid;
    background-image: url('../../../components/IMAGES/arrow.png');
    background-repeat: no-repeat;
    width: 275px;
    height:235px;
}

/* .registerFields {
    background-image: url('../../../components/IMAGES/arrow.png');
    background-repeat: no-repeat;
} */

.registerFieldsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    margin-left: 28px;
}

/* .loginView:hover{
    display: inline-grid;
    background-image: url('../../../components/IMAGES/hoveredarrow.png');
    background-repeat: no-repeat;
    background-position-X: -2px;
    width: 275px;
    height:235px;

} */

.loginView:active{
    display: inline-grid;
    background-image: url('../../../components/IMAGES/pressedarrow.png');
    background-repeat: no-repeat;
    background-position-X: 3px;
    width: 275px;
    height:235px;
    animation-duration: 1s;

}

.loginView:visited{
    display: inline-grid;
    background-image: url('../../../components/IMAGES/pressedarrow.png');
    background-repeat: no-repeat;
    width: 275px;
    height:235px;
    animation-duration: 1s;

}

.loginFields{
    background-image: url('../../../components/IMAGES/arrow2.png');
    background-repeat: no-repeat;
    width: 255px;
    padding-bottom: 28px;
    margin-top: -20px;
    position: relative;
}

.loginFields:hover{
    background-image: url('../../../components/IMAGES/hoveredarrow2.png');
    background-repeat: no-repeat;
    background-position-y: -1px;
}

.loginFieldsWrapper {
    padding-top: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 160px;
    margin-left: 29px;
}

.loginFieldsWrapper input, .registerFieldsWrapper input {
    margin: 2px 0;
}
/* #email{
    margin-top: 14%;
    margin-left: -15%;
    width: 67%;
}

#password{
    margin-left: 2px;
    width: 67%;
}

#fName{
    width: 76%;
}

#lName{
    width: 76%;
} */

.loginForm{
    width: 80%;
    height: 80%;
    margin-left: 9.5%;
    margin-top: 8%;
}

.signUp{
    background-color: transparent !important;
    margin-top: 4px;
    margin-left: 3px;
    border: none;
    box-shadow: none;
    color: white;
    font-weight: 500;
    width: inherit;
    outline: none;
}

.signIn{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    color: white;
    font-weight: 500;
    width: 40px;
    display: block;
    margin-left: 191px;
    position: absolute;
    line-height: 1em;
    outline: none;
    top: 47px;
    right: 22px;
}

/* body {
    font-family: 'Amatic SC', cursive;
  } */
