.list-group {
    margin: auto;
    width: 100%;
}

.profileImage {
    width: 72% !important;
    height: 85% !important;
}

.vertical-align {
    display: flex;
    align-items: center;
    height: 87px;
  }

.friendItem {
    font-size: 1.3em !important;
  }

.userItem {
font-size: 1.3em !important;
}